*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.8;
  background-color: rgba(128, 128, 128, 0.507);
}

.img1{
  margin: 30px;
  width: 100px;
}

.navdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

li{
  display: inline-block; padding: 10px;
}

li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}


.wordbook{
  margin-left: 30px;
}

.wordbook p{
  max-width: 230px;
}

.wordbook h1{
  max-width: 200px;
}

button{
  background-color: black;
  color: white;
  width: 160px;
  height: 50px;
  border-radius: 50px 0px 50px ;
}

.shoecontainer{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 30px;
 margin-right: 30px;
}

.shoe1{
  border: 1px solid  rgba(128, 128, 128, 0.507);
  height: 390px;
  width: 200px;
  box-shadow:  0px 0px 10px;
}

.shoe1 img{
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.shoe2{
   border: 1px solid  rgba(128, 128, 128, 0.507);
  height: 390px;
  width: 200px;
  box-shadow:  0px 0px 10px;
}

.shoe2 img{
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.shoe3{
   border: 1px solid  rgba(128, 128, 128, 0.507);
  height: 390px;
  width: 200px;
  box-shadow:  0px 0px 10px;
}

.shoe3 img{
  width: 200px;
  height: 250px;
  object-fit: cover;
}

@media (max-width:600px) {
  .container{
    flex-direction: column;
  }

  .shoecontainer{
    flex-direction: column;
    margin-top: 30px;
  }
}

